
/* ----------DEBUT CSS THIBAUT------- */

@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:opsz@8..144&family=Source+Sans+Pro&display=swap');


*{
    padding: 0;
    margin:0;
    font-family: 'Source Sans Pro', sans-serif;;
   
}
.nav{
    width: 100%;
    height:70px;
    background-color: black;
    


}
a.button img{
    background-color: white;
    float: right;
    margin-top: 1.2em;
    margin-right: 3rem;
    border-radius: 15px;
    text-decoration: none;
    color: black;
    height: 24px;
    width: 24px;
    align-items: center;
  
  
  }
.navbar{
    width: 100%;
    position: absolute;
    left: -222px;
    width: 222px;
    height: 100%;
    background-color: black;
    text-align: center;
    transition: 0.800s ease;
    border-right: 1px solid grey;
   
}

.navbar .side.navbar{
    list-style: none;
    padding: 0;
    margin: 0;
}
.nav-item{
    display: flex;
}
.nav-item .nav-link{
    text-decoration: none;
    color: white;
    font-size: 1.4em;
    padding: 1em ;
    margin:0px 10px 0px 10px;
    text-align: center;
    flex: 1;
    
}
.nav-item .nav-link:hover{
    color: grey;
}
.toggle-collapse{
    float: right;
    margin-right: -3.3em ;
    margin-top: 1.2em;
    content:"";
    outline: inherit;
    border: 0px;
    background: transparent;
}

.toggle-icon,
.toggle-icon::before,
.toggle-icon::after{
    content: "";
    width: 30px;
    height: 3px;
    position: fixed;
    background-color: black;
    border-radius: 2em;
    border: 1px solid  black;
    cursor: pointer;
    transition: 0.800s ease;
    margin-top: 1em;
    background-color: white;
    
}
.toggle-icon::before{
    position: absolute;
    right: -1px;
    margin-top: -0.8em;
}
.toggle-icon::after{
    position: absolute;
    right: -1px;
    margin-top: 0.6em;
    width: 30px;

}
hr{
    width: 120px;
    margin-left: 50px;
    border-width: 0.5px;
    align-items: center;

}
button{
    
    padding: 0;
}
.toggle-icon{
    width: 30px;
    
}
.show .toggle-icon::after{
    width: 30px;
    
}
.show .toggle-icon{
    width: 30px;
    
}
.nav-item .logo-menu{
    text-decoration: none;
    padding: 0.9rem;
    font-size: 2em;
    color: white;
    margin:0px 10px 100px 30px;
 
  
    
}
span{
    background-color: white;
}

/* ----------FIN CSS THIBAUT------- */
















/*.sidemenu{
    display: none;
}
.sidemenu.is-visible{
    display: block;
}



/*a{
    text-decoration: none;
}
li{
    list-style: none;
}
.menu{
    display: none;
    width: 250px;
     height: 100%;
    background-color: black;
}
.menu .is-visible{
    display: block;
}
.text{
    color: black;
}
*/



   

